:root {
  --bleu: #36a9e0;
  --framboise: #e65774;
  --banane: #f9cd7d;
  --mer: #207992;
}

/*--------------------------------------------------------- 
# Polices
---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap");

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
body {
  overflow-x: hidden;
  border: none;
  margin: 0;
  height: 600vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../images/presentation/scene-intro.png");
  height: 100vh;
}

header h1 {
  top: 20px;
  font-size: 5vw;
  color: var(--mer);
  text-transform: uppercase;
  font-family: "Phudu", sans-serif;
}

header h3 {
  font-size: 2vw;
  font-family: "Phudu", sans-serif;
  color: #207992;
}

header p {
  font-size: 0.7vw;
  color: black;
  font-family: "Phudu", sans-serif;
}

main section {
  width: 100%;
  height: 100vh;
  margin: 0;
}

footer {
  text-align: center;
}

/*---------------------------------------------------------- 
  # Chapitre 1
----------------------------------------------------------*/
section.chapitre1 {
  background: rgb(106, 196, 209);
  background: linear-gradient(
    0deg,
    rgba(106, 196, 209, 1) 61%,
    rgba(53, 169, 224, 1) 100%
  );
}
/*---------------------------------------------------------- 
  # Chapitre 2
----------------------------------------------------------*/
section.chapitre2 {
    background-image: url(../images/chap2/scene-2-fond.png);
}
/*---------------------------------------------------------- 
  # Chapitre 3
----------------------------------------------------------*/
section.chapitre3 {
    background-image: url(../images/chap3/fond-chap3.png);
}
/*---------------------------------------------------------- 
  # Chapitre 4
----------------------------------------------------------*/
section.chapitre4 {
    background-image: url(../images/chap4/fond-chap4.png);
}

/*---------------------------------------------------------- 
  # Sprite sheet
----------------------------------------------------------*/
.sprite {
    background-image: url(../images/sprite_sheets/sousmarin/spritesheet-sub.png);
    height: 1080px;
    width: 77904px;
    animation-name: sousmarin;
    animation-iteration-count: infinite;
    animation-timing-function: steps(72);
    animation-duration: 3s;
    margin: 5px auto;
}

@keyframes sousmarin {
    from {background-position: 0 0;}
    to {background-position: -77904px 0;}
}
/*---------------------------------------------------------- 
  # phudu
----------------------------------------------------------*/
.phudu {
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
