:root {
  --bleu: #36a9e0;
  --framboise: #e65774;
  --banane: #f9cd7d;
  --mer: #207992;
}

/*--------------------------------------------------------- 
# Polices
---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap");

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
body {
  overflow-x: hidden;
  border: none;
  margin: 0;
  height: 600vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../images/presentation/scene-intro.png");
  height: 100vh;
}

header h1 {
  top: 20px;
  font-size: 5vw;
  color: var(--mer);
  text-transform: uppercase;
  font-family: "Phudu", sans-serif;
}

header h3 {
  font-size: 2vw;
  font-family: "Phudu", sans-serif;
  color: #207992;
}

header p {
  font-size: 0.7vw;
  color: black;
  font-family: "Phudu", sans-serif;
}

main section {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
}

footer {
  text-align: center;
}

.image-stack {
  position: relative;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-stack img {
  position: absolute;
  overflow: hidden;
}

.image-stack img:nth-child(1) {
  z-index: 1;
}
.image-stack img:nth-child(2) {
  z-index: 2;
}
.image-stack img:nth-child(3) {
  z-index: 3;
}
.image-stack img:nth-child(4) {
  z-index: 4;
}
.image-stack img:nth-child(5) {
  z-index: 5;
}

.bckg {
  top: 0;
  left: 0;
}

.sol {
  bottom: 0;
  left: 0;
}

/*---------------------------------------------------------- 
  # Chapitre 1
----------------------------------------------------------*/
section.chapitre1 {
  background: rgb(106, 196, 209);
  background: linear-gradient(
    0deg,
    rgba(106, 196, 209, 1) 61%,
    rgba(53, 169, 224, 1) 100%
  );
  position: relative;
}

.algues-chap1 {
  width: 200%;
  bottom: 0;
  left: 0;
  position: relative;
}

.poissons1-chap1 {
  left: 0;
  bottom: 370px;
  position: relative;
}

.poissons2-chap1 {
  width: 30vw;
  left: 0;
  top: 260px;
  position: relative;
}

.algues-premier-plan {
  bottom: 0;
  left: 100px;
  width: 350%;
  position: relative;
}
/*---------------------------------------------------------- 
  # Chapitre 2
----------------------------------------------------------*/
section.chapitre2 {
  background: rgb(97, 168, 188);
  background: linear-gradient(
    0deg,
    rgba(97, 168, 188, 1) 0%,
    rgba(106, 196, 209, 1) 100%
  );
}

.epave {
  width: 95vw;
  bottom: 15px;
  right: -60vw;
}

/*---------------------------------------------------------- 
  # Chapitre 3
----------------------------------------------------------*/
section.chapitre3 {
  background-color: rgba(3, 146, 179, 1);
}
/*---------------------------------------------------------- 
  # Chapitre 4
----------------------------------------------------------*/
section.chapitre4 {
  section.chapitre2 {
    background: rgb(3, 146, 179);
    background: linear-gradient(
      0deg,
      rgba(3, 146, 179, 1) 23%,
      rgba(106, 196, 209, 1) 100%
    );
  }
}

/*---------------------------------------------------------- 
  # Sprite sheet
----------------------------------------------------------*/
.sprite.sprite-sousmarin {
  width: 1080px;
  height: 1080px;
  background-image: url("../images/sprite_sheets/sousmarin/spritesheet-sub.png");
  animation: sousmarin 3s steps(72) infinite;
  animation-play-state: paused;
}

@keyframes sousmarin {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -77904px;
  }
}

.sprite.sprite-tentacules {
  width: 1080px;
  height: 1080px;
  background-image: url("../images/sprite_sheets/tentacules/spritesheet-tentacule.png");
  animation: tentacules 2s steps(48) infinite;
  animation-play-state: paused;
}

@keyframes tentacules {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -51936px 0;
  }
}

body.is-scrolling .sprite {
  animation-play-state: running;
}

/*---------------------------------------------------------- 
  # phudu
----------------------------------------------------------*/
.phudu {
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*---------------------------------------------------------- 
  # Techniques GSAP
----------------------------------------------------------*/
ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}
