:root {
  --bleu: #36a9e0;
  --framboise: #e65774;
  --banane: #f9cd7d;
  --mer: #207992;
}

/*--------------------------------------------------------- 
# Polices
---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap");

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
body {
  overflow-x: hidden;
  border: none;
  margin: 0;
  /*height: 600vh;*/
  width: 100vw;
  background: rgb(220, 221, 168);
  background: linear-gradient(
    0deg,
    rgba(220, 221, 168, 1) 2%,
    rgba(173, 221, 243, 1) 99%
  );
}

main section {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
}

footer {
  text-align: center;
  background-color: #dcdda8;
}

.image-stack {
  position: relative;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-stack img {
  position: absolute;
  overflow: hidden;
}

.image-stack img:nth-child(1) {
  z-index: 1;
}
.image-stack img:nth-child(2) {
  z-index: 2;
}
.image-stack img:nth-child(3) {
  z-index: 3;
}
.image-stack img:nth-child(4) {
  z-index: 4;
}
.image-stack img:nth-child(5) {
  z-index: 5;
}
.image-stack img:nth-child(6) {
  z-index: 6;
}
.image-stack img:nth-child(7) {
  z-index: 7;
}
.image-stack img:nth-child(8) {
  z-index: 8;
}
.image-stack img:nth-child(9) {
  z-index: 9;
}
.image-stack img:nth-child(10) {
  z-index: 10;
}

.bckg {
  top: 0;
  left: 0;
}

.sol {
  bottom: 0;
  left: 0;
  width: 200%;
}

/*---------------------------------------------------------- 
  # Header
----------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #b9e2f4;
  overflow: hidden;
}

h1 {
  top: 20px;
  font-size: 5vw;
  color: var(--mer);
  text-transform: uppercase;
  font-family: "Phudu", sans-serif;
}

header h3 {
  font-size: 2vw;
  font-family: "Phudu", sans-serif;
  color: #207992;
}

.header-text p {
  font-size: 0.7vw;
  color: black;
  font-family: "Phudu", sans-serif;
  z-index: 10;
}

.animation-pres {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.vagues-1 {
  bottom: 0;
  left: 0;
}

.vagues-2 {
  bottom: 0;
  left: 0;
}

.vagues-3 {
  bottom: 0;
  left: 0;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  position: absolute;
  padding-bottom: 5vw;
  top: 0;
  z-index: 11;
}

.path-pres {
  bottom: 0;
  left: 0;
  width: 800px;
  position: absolute;
  z-index: -1;
}

.sousmarin-pres {
  width: 20vw;
}

/*---------------------------------------------------------- 
  # Chapitre 1
----------------------------------------------------------*/
section.chapitre1 {
  background: rgb(106, 196, 209);
  background: linear-gradient(
    0deg,
    rgba(106, 196, 209, 1) 61%,
    rgba(53, 169, 224, 1) 100%
  );
  position: relative;
}

.algues-chap1 {
  width: 200%;
  bottom: 0;
  left: 0;
  position: relative;
}

.poissons1-chap1 {
  left: 0;
  bottom: 370px;
  position: relative;
}

.poissons2-chap1 {
  width: 30vw;
  left: 0;
  top: 260px;
  position: relative;
}

.algues-premier-plan {
  bottom: 0;
  left: 100px;
  width: 350%;
  position: relative;
}

.sol-chap1 {
  bottom: -2vw;
  left: 0;
}

.sousmarin-ch1 {
  bottom: 25vw;
  width: 20vw;
  left: -20vw;
}

/*---------------------------------------------------------- 
  # Chapitre 2
----------------------------------------------------------*/
section.chapitre2 {
  background: rgb(97, 168, 188);
  background: linear-gradient(
    0deg,
    rgba(97, 168, 188, 1) 0%,
    rgba(106, 196, 209, 1) 100%
  );
}

.epave {
  width: 95vw;
  bottom: 100px;
  right: -60vw;
}

.animation-ch2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sol {
  bottom: 0;
  left: 0;
  width: 200%;
}

.pieuvre-chap2 {
  bottom: 15vh;
  height: 30vw;
  right: -40vh;
}

.sousmarin-ch2 {
  bottom: 20vw;
  left: -20vw;
  width: 20vw;
}

/*---------------------------------------------------------- 
  # Chapitre 3
----------------------------------------------------------*/
section.chapitre3 {
  background-color: rgba(97, 168, 188, 1);
}

.animation-ch3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sol-chap3 {
  width: 100%;
  bottom: 0;
  left: 0;
  width: 200%;
}

.coraux-1-chap3 {
  bottom: 0;
  width: 75vw;
  right: -75vw;
}

.coraux-2-chap3 {
  bottom: -5vw;
  width: 100vw;
  right: -100vw;
}

.sousmarin-ch3 {
  bottom: 15vw;
  left: -20vw;
  width: 20vw;
}

/*---------------------------------------------------------- 
  # Chapitre 4
----------------------------------------------------------*/
section.chapitre4 {
  background: rgb(17, 93, 111);
  background: linear-gradient(
    0deg,
    rgba(17, 93, 111, 1) 0%,
    rgba(36, 144, 173, 1) 72%,
    rgba(17, 93, 111, 1) 99%
  );
}

.algues-1-chap-4 {
  bottom: 0;
  left: 12vw;
  width: 22vw;
  height: 100vh;
}
.algues-2-chap-4 {
  bottom: 0;
  left: 0;
  width: 22vw;
  height: 100vh;
}
.algues-3-chap-4 {
  bottom: 0;
  right: 0;
  width: 22vw;
  height: 100vh;
}

.animation-ch4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.gradient-chap4 {
  width: 100%;
  height: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    0deg,
    rgba(131, 58, 180, 0) 41%,
    rgba(17, 93, 111, 1) 100%
  );
  z-index: 5;
  position: absolute;
}

.sol-chap4 {
  bottom: 0;
  left: 0;
}

.sousmarin-ch4 {
  left: -20vw;
  width: 20vw;
  bottom: 20vw;
}

/*---------------------------------------------------------- 
  # Chapitre 5
----------------------------------------------------------*/
section.chapitre5 {
  background: rgb(17, 93, 111);
  background: linear-gradient(
    0deg,
    rgba(17, 93, 111, 1) 0%,
    rgba(32, 134, 161, 1) 16%,
    rgba(36, 144, 173, 1) 80%,
    rgba(17, 93, 111, 1) 99%
  );
  overflow: hidden;
}

.murs-droit-chap5 {
  top: 0;
  right: 0;
  width: 50vw;
}

.murs-gauche-chap5 {
  top: 0;
  left: 0;
  width: 50vw;
}

.container-sousmarin {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

.sousmarin-chap5 {
  width: 17vw;
  top: 0;
}

.pathContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*---------------------------------------------------------- 
  # Chapitre 6
----------------------------------------------------------*/
section.chapitre6 {
  background-color: rgba(17, 93, 111, 1);
  overflow: hidden;
}

.animation-ch6 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bg-chap6 {
  bottom: 0;
  left: 0;
}

.sol-chap6 {
  bottom: -2vw;
}

.sousmarin-ch6 {
  bottom: 100vw;
  width: 17vw;
  left: 15vw;
}

.bg-4-chap6 {
  bottom: 0;
  width: 40vw;
  right: 10vw;
}

.texteFin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.texteFin h1 {
  font-size: 25vw;
  opacity: 0;
}

/*---------------------------------------------------------- 
  # Sprite sheet
----------------------------------------------------------*/
.sprite.sprite-sousmarin {
  width: 1080px;
  height: 1080px;
  background-image: url("../images/sprite_sheets/sousmarin/spritesheet-sub.png");
  animation: sousmarin 3s steps(72) infinite;
  animation-play-state: paused;
}

@keyframes sousmarin {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -77904px;
  }
}

.sprite.sprite-tentacules {
  width: 1080px;
  height: 1080px;
  background-image: url("../images/sprite_sheets/tentacules/spritesheet-tentacule.png");
  animation: tentacules 2s steps(48) infinite;
  animation-play-state: paused;
}

@keyframes tentacules {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -51936px 0;
  }
}

body.is-scrolling .sprite {
  animation-play-state: running;
}

.sprite.sprite-algues {
  width: 1196px;
  height: 2918px;
  background-image: url("../images/sprite_sheets/algue-1/spritesheet-algue.png");
  animation: playFrames 1s steps(24) infinite;
  background-size: auto 2918px;
  animation-play-state: paused;
  position: relative;
}

@keyframes algue {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -28952px 0;
  }
}

.container-sprite-algues {
  height: 100vh;
  width: 20vw;
  position: absolute;
}

/*---------------------------------------------------------- 
  # phudu
----------------------------------------------------------*/
.phudu {
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*---------------------------------------------------------- 
  # Techniques GSAP
----------------------------------------------------------*/
ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

ul.technique-gsap li {
  margin: 5px 0;
}
